.cronometro {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.cronometro div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  height: 40px;
  width: 50px;
}

.button {
  text-align: center;
}